ion-label{
    color: grey !important;
    font-weight: 600;
    font-size: 1.05rem !important;
}

ion-badge.ios.status{
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 5px;
}

ion-item > ion-button.ios {
    margin-top: 16px;
}

ion-text.status-text{
    color: white !important;
}

.button-grouping{
 
}
ion-input > input {
    width: 100% !important;
}
.anchor-bottom{
    position: fixed;
    bottom: 0;
    /* display: block; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
    z-index: 999;
}
.text-align-center {
    text-align: center !important;
}
ion-select{
    width:100%;
    max-width: none;
}

.readonly-fields{
    
}
ion-item > div {
    width: 100% !important;
}

.section{
    //display: none !important;
    visibility: hidden !important;
    opacity: 0;
    height: 0px;
    transition: all 2s ease, height 1s ease;
}
.section-active{
   // display: block !important;
    visibility: visible;
    opacity: 1;
    height: 150px;
    max-height: auto;
    transition: all 2s ease, height 1s ease;
}

div.datetime-text, div.select-placeholder, div.select-placeholder{
   // --placeholder-color: var(--ion-color-dark) !important;
   // color: white !important;
   // opacity: 1 !important;
   // --opacity: 1 !important;
}

ion-select{
   // --placeholder-color: var(--ion-color-dark) !important;
   // color: white !important;
   // opacity: 1 !important;
   // --opacity: 1 !important;
}

.coordinator{
    margin-bottom: 0px !important;
    height: 12px !important;
    max-height: 30px !important;
}
ion-label.detail-header {
    color: #7044ff !important;
}