<ion-header>
    <ion-toolbar text-center>
        <ion-buttons *ngIf="show_button == true" slot="secondary">
            <ion-button type="button" (click)="goToJob(servicedetail.id)" text="Open Job">
                <ion-text>Open Job</ion-text>
            </ion-button>
        </ion-buttons>
        <ion-title>Comments for {{servicedetail.service_type}}</ion-title>
        <ion-icon name="close" (click)="closeModal()" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div [attr.data-position]="(user_id == comment['userid']) ? 'right': 'left'" *ngFor="let comment of comments">
        <div class="message-container">
           <!--  <ion-avatar [slot]="(user_id == comment.user_id) ? 'end': 'start'">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar> -->
            <div class="message-bubble ion-padding">
                <ion-text class="ion-text-left" style="display: block;" *ngIf="comment['contractorname'] != ''">{{comment['contractorname']}}</ion-text>
                <ion-text class="ion-text-left">{{comment['commentcontent']}}</ion-text>
            </div>
        </div>
        <div class="comment-bottom">
            <ion-label color="dark" position="stacked" class="comment-sent">{{comment['createdtime']}} <br> {{comment['first_name']}} {{comment['last_name']}}</ion-label>
            <ion-icon color="dark" class="read-check" size="large" *ngIf="comment.read == true" name="checkmark"></ion-icon>
        </div>
    </div>

    <p class="ion-padding" *ngIf="comments.length == 0">No messages</p>

</ion-content>

<div class="button-grouping anchor-bottom ion-padding-horizontal" >
        <ion-grid class="ion-no-padding">
                <ion-row *ngIf="show_button == true" class="" >
                        <ion-col class="padding-left-none" size="12">
                            <ion-item lines="none">
                                <ion-label position="stacked">Request</ion-label>
                                <ion-select name="status"  value="{{request}}">
                                    <ion-select-option *ngFor="let picklist of request_picklist">{{picklist}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center" >
                <ion-col class="padding-left-none" size="9">
                    <ion-input color="dark" (ionChange)="updateMessage($event)" placeholder="Write a message"></ion-input>
                </ion-col>
                <ion-col size="3">
                    <ion-button size="large" expand="block" color="tertiary" (click)="sendMessage()">
                        <ion-icon name="send"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>