<ion-header>
    <ion-toolbar text-center>
        <ion-title>Profile</ion-title>
        <ion-icon name="close" (click)="closeModal()" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item lines="none" >
            <ion-avatar *ngIf="has_profile_picture == true">
                <img src="{{profile_picture}}">  
            </ion-avatar>
        <div *ngIf="has_profile_picture == true">
            &nbsp;&nbsp;   
        </div> 
        <ion-text>Hello, <b>{{userinfo?.contractorname}}</b>!</ion-text>
    </ion-item>
    <ion-item lines="none">
        <ion-label position="stacked">USER NAME</ion-label>
        <ion-text>{{userinfo?.cf_756}}</ion-text>
    </ion-item>
    <ion-item lines="none">
        <ion-label position="stacked">FULL NAME</ion-label>
        <ion-text value="">{{userinfo?.contractorname}}</ion-text>
    </ion-item>
    <ion-item lines="none">
        <ion-label position="stacked">EMAIL</ion-label>
        <ion-text value="">{{userinfo?.cf_756}}</ion-text>
    </ion-item><br>
    <ion-item lines="none">
        <ion-label position="stacked">DAYS/TIMES UNAVAILABLE</ion-label>
        <ion-textarea name="cf_unavailable" placeholder="Put any unavailable dates here" value="{{userinfo?.cf_unavailable}}" (ionBlur)="addUpdate($event)">
        </ion-textarea>
    </ion-item>
    <ion-item lines="none">
        <br>
        <ion-label position="stacked">
            CURRENT THEME (TAP TO CHANGE)
        </ion-label>
        <br>
        <ion-button id="themecolor" *ngIf="userinfo?.theme=='Dark'" type="button" size="default" color="dark" (click)="switchTheme()"><ion-icon name="color-palette"></ion-icon>&nbsp; {{userinfo.theme}}</ion-button>
        <ion-button id="themecolor" *ngIf="userinfo?.theme=='Light'" type="button" size="default" color="dark" (click)="switchTheme()"><ion-icon name="color-palette"></ion-icon>&nbsp; {{userinfo.theme}}</ion-button>
        <br>
    </ion-item>
    <ion-item lines="none">
        <ion-label position="stacked">RECEIVE SMS NOTIFICATIONS</ion-label>
        <ion-toggle color="primary" [(ngModel)]="cf_sms_noti" (ionChange)="updateNotification('sms', $event);"></ion-toggle>
        <ion-label position="stacked">RECEIVE PUSH NOTIFICATIONS</ion-label>
        <ion-toggle color="primary" [(ngModel)]="cf_push_noti" (ionChange)="updateNotification('push', $event);"></ion-toggle>
    </ion-item>
    <br><br><br><br>

    <ion-button (click)="logout()" color="danger" routerDirection="root" size="default"><ion-icon name="log-out"></ion-icon> &nbsp; Logout</ion-button>
    
</ion-content>
