<ion-header>
    <ion-toolbar text-center>
        <ion-title>Comments for {{servicedetail.title}}</ion-title>
        <ion-icon name="close" (click)="closeModal()" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
    <div [attr.data-position]="(user_id == comment.user_id) ? 'right': 'left'" *ngFor="let comment of comments">
        <div class="message-container">
           <!--  <ion-avatar [slot]="(user_id == comment.user_id) ? 'end': 'start'">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar> -->
            <div class="message-bubble ion-padding">
                <ion-text class="ion-text-left">{{comment.message}}</ion-text>        
            </div>
        </div>  
        <div class="comment-bottom">
            <ion-label color="dark" position="stacked" class="comment-sent">{{comment.date_sent}}</ion-label> 
            <ion-icon class="read-check" size="large" *ngIf="comment.read == true" name="checkmark"></ion-icon>
        </div>
    </div>

    <p class="ion-padding" *ngIf="comments.length == 0">No messages</p>

    <br><br><br><br><br>

</ion-content>
<div class="button-grouping anchor-bottom ion-padding-horizontal" >
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-center ion-justify-content-center" >
                <ion-col class="padding-left-none" size="9">
                    <ion-input color="dark" (ionChange)="updateMessage($event)" placeholder="Write a message"></ion-input>
                </ion-col>
                <ion-col size="3">
                    <ion-button size="large" expand="block" color="tertiary" (click)="sendMessage()">
                        <ion-icon name="send"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>