ion-card-header{
  padding-bottom: 0px !important;
}
ion-card-content{
  padding-top: 10px !important;
}
ion-input input.native-input{
  border: 1px solid #ccc !important;
  padding-left:20px !important;
  padding-right: 20px !important;
}
ion-toolbar ion-icon[name="close"]{
  float: right;
  cursor: pointer;
}

.title-input{
  background-color: var(--ion-color-light-shade);
}
.anchor-bottom{
  position: sticky; 
  bottom: 0;
  left: 0;
  
  /* display: block; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.137);
  /*z-index: 9999;*/
}
div[data-position='left']{
  color: white;
  margin-right: 33%;
  margin-bottom: 10px;
}
div[data-position='right']{
  color: white;
  margin-left: 33%;
  margin-bottom: 10px;
}

div[data-position='left'] > div > .message-bubble {
  background-color: var(--ion-color-step-250);
}

div[data-position='right'] > div > .message-bubble {
  background-color: var(--ion-color-primary);
}

.message-bubble{
  border-radius: 25px;
}

.comment-sent{
  padding-left: 25px;
  align-self: center;
}

.message-container{ 
  display: flex;
}

.read-check{

}
.comment-bottom{
  display: flex;
}