<ion-header>
  <ion-toolbar>
    <ion-title>Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

      <ion-item-divider sticky="true">
        <ion-label>
          New Jobs ({{todayServices?.length}})
        </ion-label>
      </ion-item-divider>

    <!-- <ion-list-header>
      <ion-label>Today's Open Services</ion-label>
    </ion-list-header> -->

    <ion-item (click)="goToDetail(service.id)" detail *ngFor="let service of todayServices">
      <ion-avatar><ion-icon size="large" name="document"></ion-icon></ion-avatar>
      <ion-label>
        <h2>{{service.title}}</h2>
        <div class="service-details-div">
          <ion-grid class="service-details-grid">
            <ion-row>
              <ion-col><p class="st">Coordinator</p></ion-col>
              <ion-col><p class="st">City</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col><p>{{service.coordinator}}</p></ion-col>
              <ion-col><p>{{service.city}}</p></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-label>
      <ion-badge slot="end" class="status" color="white"
      data-color="{{(service?.status == 'Cancelled' || service?.status == 'Declined') ? 'danger' : 'success'}}"
      [ngStyle]="{'background-color':service?.status == 'Cancelled' || service?.status == 'Declined' ? 'var(--ion-color-danger)' : service?.status == '1 In-Process' ? 'var(--ion-color-warning)' : 'var(--ion-color-success)', 'border-color':service?.status == 'Cancelled' || service?.status == 'Declined' ? 'var(--ion-color-danger)' : service?.status == '1 In-Process' ? 'var(--ion-color-warning)' : 'var(--ion-color-success)' }"
      >
        <ion-text class="status-text">{{service.status}}</ion-text>
      </ion-badge>
    </ion-item>

    <ion-item-divider sticky="true" id="future">
        <ion-label>
          Approved Jobs ({{futureServices?.length}})
        </ion-label>
      </ion-item-divider>

    <!-- <ion-list-header sticky="true" lines="none">
      <ion-label>Future Services</ion-label>
    </ion-list-header> -->

      <ion-item (click)="goToDetail(service.id)" detail *ngFor="let service of futureServices">
        <ion-avatar><ion-icon size="large" name="document"></ion-icon></ion-avatar>
        <ion-label>
          <h2>{{service.title}}</h2>
          <p>{{service.longdate}}</p>
          <div class="service-details-div">
            <ion-grid class="service-details-grid">
              <!-- <ion-row>
                <ion-col><p class="st">Start Time</p></ion-col>
                <ion-col><p class="et">End Time</p></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><p>{{service.startTime}}</p></ion-col>
                <ion-col><p>{{service.endTime}}</p></ion-col>
              </ion-row> -->
              <ion-row>
                <ion-col><p class="st">Coordinator</p></ion-col>
                <ion-col><p class="st">City</p></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><p>{{service.coordinator}}</p></ion-col>
                <ion-col><p>{{service.city}}</p></ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-label>
        <!--
        <ion-badge slot="end" class="status" color="medium"
        data-color="{{(service?.status == 'Cancelled' || service?.status == 'Declined') ? 'danger' : 'success'}}"
        [ngStyle]="{'background-color':service?.status == 'Cancelled' || service?.status == 'Declined' ? 'var(--ion-color-danger)' : 'var(--ion-color-success)', 'border-color':service?.status == 'Cancelled' || service?.status == 'Declined' ? 'var(--ion-color-danger)' : 'var(--ion-color-success)' }"
        >
          <ion-text class="status-text">{{service.status}}</ion-text>
        </ion-badge>
      -->
      <ion-badge slot="end" class="status" color="warning">
        <ion-text class="status-text">{{service.status}}</ion-text>
      </ion-badge>
      </ion-item>

   
  </ion-list>
</ion-content>
