.service-details-div{

}
.service-details-grid{
    --ion-grid-padding: 1px;
}
ion-col > p.st, ion-col > p.et {
    color: grey;
}
ion-note.status{
    border: 1px solid;
    border-radius: 50px;
    padding: 10px;
    color: white;
    --padding: 10px;
    --padding-bottom: 10px;
    padding-bottom: 10px;
}

ion-badge.status{
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    //float: right;
    opacity: 1;
}

ion-text.status-text{
    color: white !important;
}

ion-row{
    width: 70%;
}

ion-row.inline{
    min-inline-size: fit-content;
}

p.truncate {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}