<ion-header>
  <ion-toolbar>
    <ion-title>Jobs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">

      <ion-item-divider sticky="true" id="new_jobs">
        <ion-label>
          New Jobs ({{newJobsLength}})
        </ion-label>
      </ion-item-divider>
    <ion-item (click)="goToDetail(service.salesorderid)" detail *ngFor="let service of newJobs">
      <ion-avatar><ion-icon size="large" name="document"></ion-icon></ion-avatar>
      <ion-label>
        <h2>{{service.subject}}</h2>
        <div class="service-details-div">
          <ion-grid class="service-details-grid">
            <ion-row>
              <ion-col><p class="st">Coordinator</p></ion-col>
              <ion-col><p class="st">City</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col><p>{{service.assigned_to}}</p></ion-col>
              <ion-col><p>{{service.bill_city}}</p></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-label>
    </ion-item>

    <ion-item-divider sticky="true" id="active_jobs">
        <ion-label>
          Active Jobs ({{activeJobsLength}})
        </ion-label>
      </ion-item-divider>
      <ion-item (click)="goToDetail(service.salesorderid)" detail *ngFor="let service of activeJobs">
        <ion-avatar><ion-icon size="large" name="document"></ion-icon></ion-avatar>
        <ion-label>
          <h2>{{service.subject}}</h2>
          <ion-row class="inline">
            <ion-col><p class="st">Follow up</p><p>{{service.date_sent}}</p></ion-col>
            <ion-col><p class="st">Service Date</p><p>{{service.cf_738}}</p></ion-col>
          </ion-row>
          <!--
          <ion-row class="inline">
            <ion-col></ion-col>
            <ion-col></ion-col>
          </ion-row>
          -->
          <ion-badge slot="end" class="status" color="white"
          [ngStyle]="{'background-color': service?.status == 'Complete' ? 'var(--ion-color-success)' : 'var(--ion-color-warning)'}">
            <ion-text class="status-text">{{service.status}}</ion-text>
          </ion-badge>
          <div class="service-details-div">
            <ion-grid class="service-details-grid">
              <ion-row class="inline">
                <ion-col><p class="st">Coordinator</p><p class="truncate">{{service.assigned_to}}</p></ion-col>
                <ion-col><p class="st">City</p><p>{{service.bill_city}}</p></ion-col>
              </ion-row>
              <!--
              <ion-row class="inline">
                <ion-col></ion-col>
                <ion-col></ion-col>
              </ion-row>
              -->
            </ion-grid>
            
          </div>
          
        </ion-label>
        
         
          
      </ion-item>
  </ion-list>
</ion-content>
