<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="openSettings()">
        <ion-icon class="profile" size="large" name="Contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="">
    <div class="dashboard-top ion-padding">
      <div class="greeting">
          <h1 class="thin-weight">Hello,</h1>&nbsp;&nbsp;<h1>{{userinfo?.firstname}}!</h1>
      </div>
      <ion-text class="weight-200 primary-contrast">Heres your summary for today:</ion-text>
      <br><br>
    </div>
    <div class="dashboard-mid ion-padding">
        <h2>Invites</h2>
        <h6>3 New <a href="tabs/notifications">Invites</a></h6>

        <h2>Jobs</h2>
        <h6>2 new <a href="tabs/services">Jobs</a></h6>

        <h2>Future Jobs</h2>
        <h6>5 new assigned <a routerDirection="root" href="tabs/services">Future Jobs</a></h6>

        <h2>Comments</h2>
        <h6>1 reply to a <a href="">Question</a></h6>

        <h2>Invites</h2>
        <h6>3 New <a href="tabs/notifications">Invites</a></h6>

        <h2>Jobs</h2>
        <h6>2 new <a href="tabs/services">Jobs</a></h6>

        <h2>Future Jobs</h2>
        <h6>5 new assigned <a routerDirection="root" href="tabs/services">Future Jobs</a></h6>

        <h2>Comments</h2>
        <h6>1 reply to a <a href="">Question</a></h6>
        <h2>Invites</h2>
        <h6>3 New <a href="tabs/notifications">Invites</a></h6>

        <h2>Jobs</h2>
        <h6>2 new <a href="tabs/services">Jobs</a></h6>

        <h2>Future Jobs</h2>
        <h6>5 new assigned <a routerDirection="root" href="tabs/services">Future Jobs</a></h6>

        <h2>Comments</h2>
        <h6>1 reply to a <a href="">Question</a></h6>

    </div>
  </div>
</ion-content>
