<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="openSettings()">
        <ion-icon class="profile" size="large" name="Contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="bg">
    <div class="dashboard-top-new ion-padding">
      <div class="greeting">
          <h1 class="thin-weight">Hello,</h1>&nbsp;&nbsp;<h1>{{userinfo?.firstname}}!</h1>
      </div>
      <ion-text class="weight-200 primary-contrast">Heres your summary for today:</ion-text>
      <br><br>
    </div>
    <div class="graphs-container ion-padding">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-subtitle>Status Of</ion-card-subtitle>
            <ion-card-title>Daily Assigned Jobs</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart></canvas>
          </ion-card-content>
        </ion-card>
      <!-- <ion-img src=""></ion-img> -->
    </div>

    <div class="header ion-padding">
      <ion-text>Notifications</ion-text>
    </div>
    <div class="pills ion-padding">
        <ion-card class="pill-card" type="button">
            <ion-card-header class="no-padding-bottom">
              <ion-card-subtitle>New Invites</ion-card-subtitle>
              <ion-card-title>3 <ion-icon class="pill-icon" name="mail" size="large"></ion-icon></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              3 New Invites
            </ion-card-content>
          </ion-card>  
          <ion-card class="pill-card" type="button">
            <ion-card-header class="no-padding-bottom">
              <ion-card-subtitle>New Jobs</ion-card-subtitle>
              <ion-card-title>2 <ion-icon class="pill-icon" name="hammer" size="large"></ion-icon></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              2 New Jobs
            </ion-card-content>
          </ion-card> 
          <ion-card class="pill-card" type="button">
            <ion-card-header class="no-padding-bottom">
              <ion-card-subtitle>Active Jobs</ion-card-subtitle>
              <ion-card-title>5 <ion-icon class="pill-icon" name="calendar" size="large"></ion-icon></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              5 Active Jobs
            </ion-card-content>
          </ion-card> 
          <ion-card class="pill-card" type="button">
            <ion-card-header class="no-padding-bottom">
              <ion-card-subtitle>New Replies</ion-card-subtitle>
              <ion-card-title>1 <ion-icon class="pill-icon" name="mail-open" size="large"></ion-icon></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              1 New Reply
            </ion-card-content>
          </ion-card>       
    </div>
  </div>
  
  <!-- Old Dashboard  -->
  <!-- <div class="fixed" ion-fixed>
    <div class="dashboard-top ion-padding">
      <div class="greeting">
          <h1 class="thin-weight">Hello,</h1>&nbsp;&nbsp;<h1>{{userinfo?.firstname}}!</h1>
      </div>
      <ion-text class="weight-200 primary-contrast">Heres your summary for today:</ion-text>
      <br><br>
    </div>
  </div>
  <div class="overlayed">
    <div class="dashboard-mid ion-padding">
        <h2>Invites</h2>
        <ul>
          <li><h6>3 New <a (click)="goToPage('notifications')">Invites</a></h6></li>
        </ul>

        <h2>Jobs</h2>
        <ul>
          <li><h6>2 new <a (click)="goToPage('services')">Jobs</a></h6></li>
        </ul>

        <h2>Future Jobs</h2>
        <ul>
          <li><h6>5 new assigned <a (click)="goToPage('services')">Future Jobs</a></h6></li>
        </ul>
        
        <h2>Comments</h2>
        <ul>
          <li><h6>1 reply to a <a (click)="goToPage('notifications')">Question</a></h6></li>
        </ul>

        <h2>Completed Jobs</h2>
        <ul>
          <li><h6>You completed <a (click)="goToPage('completed')">2 jobs yesterday</a></h6></li>
        </ul>
    </div>
  </div> -->
</ion-content>
