.invite-details-grid{
    --ion-grid-padding: 1px;
}
ion-col > p.st, ion-col > p.et {
    color: grey;
}

ion-label > h2 {
    white-space: pre-wrap;
}

ion-button > ion-text{ 
    color: white;
}

p.main-color{
    color: var(--ion-color-dark);
}
ion-row.inline{
    min-inline-size: -webkit-max-content;
}

p.truncate {
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-row.buttons-inline{
    min-inline-size: -webkit-max-content;
}